[submodule "MiniHalo/vendor/spdlog"]
	path = MiniHalo/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MiniHalo/vendor/GLFW"]
	path = MiniHalo/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "MiniHalo/vendor/imgui"]
	path = MiniHalo/vendor/imgui
	url = https://github.com/TheCherno/imgui
